<style type="text/css">

p {
  color: black;
  font-size: 14px;
  font-family: 'Domine', serif;
  text-align: center;
  padding-bottom: 10px;
}

#page-wrap {
	width: 300px;
	margin: 0 auto;
}

input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

h1 {
  color: black;
  font-size: 24px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

h3 {
  color: black;
  font-size: 34px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

canvas {
	padding-top: 20px;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}


.form-style-1 {
	margin:10px auto;
	max-width: 400px;
	padding: 10px 12px 20px 20px;
	font-size: 14px;
  	font-family: 'Domine', serif;
}
.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-style-1 label{
	margin:0 0 0px 0;
	padding:15px;
	display:block;
	/*font-weight: bold; */
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;	
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
	width: 49%;
}

p {
  color: black;
  font-size: 14px;
  font-family: 'Domine', serif;
  text-align: center;

}

.form-style-1 .field-long{
	width: 100%;
}
.form-style-1 .field-select{
	width: 100%;
}
.form-style-1 .field-textarea{
	height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
	background: #c62641;
	padding: 8px 15px 8px 15px;
	border: none;
	font-family: 'Josefin Sans', sans-serif;
	color: #fff;
}


.aButton {
	background: #c62641;
    display:inline-block;
    text-decoration: none;
	padding: 8px 15px 8px 15px;
	margin: 10px;
	font-size: 14px;
	border: none;
	font-family: 'Josefin Sans', sans-serif;
	color: #fff;
}

.bdiv { 
    text-align: center;
}

.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: #c62641
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}

.form-style-1 .required{
	color: #c62641;
}
</style>